<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments :: page_head('Topics', 'tag')" />
</head>
<body>
<div th:replace="navigation :: header_menu"></div>
<div class="text-center" style="margin-top: 25px">
    <input type="submit" class="btn btn-primary" onclick="window.location.href='/manage/topics/new'" value="Add Topic"/>
</div>
<br>
    <h1 class="text-center">Topics</h1>
<div class="container" style="max-width: 750px; margin: 0 auto;">
<table class="table table-bordered table-striped table-hover table-responsive-xl">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    <tr th:each="topic : ${topics}">
        <td>[[${topic.id}]]</td>
        <td>[[${topic.name}]]</td>
        <td><a th:href="@{'manage/topics/edit/'+${topic.id}}">Edit</a>
            &nbsp;
            <a th:href="@{'manage/topics/delete/'+${topic.id}}">Delete</a>
        </td>
    </tr>
</table>
</div>
</body>
</html>