<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head('New Question', 'tag')"/>
</head>
<body>
<div th:replace="navigation :: header_menu"></div>

<div class="container" style="max-width: 750px; margin: 0 auto;">
    <h1 class="text-center">Create a Question</h1>
    <form th:action="@{/manage/questions/create}" th:object="${question}" method="post">

        <div class="form-group">
            <label for="topics">Topic:</label>
            <select id="topics" th:field="*{topic}" class="form-control">
                <div th:each="t : ${topics}">
                    <option th:text="${t.name}" th:value="${t.id}"></option>
                </div>

            </select>
        </div>

        <div class="form-group">
            <label for="difficulty">Difficulty:</label>
            <select id="difficulty" th:field="*{level}" class="form-control">
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
            </select>
        </div>

        <div class="form-group">
            <label >Content:</label>
            <input type="text" class="form-control" name="content" maxlength="255" th:field="*{content}"/>
        </div>


            <th:block th:each="answer, status : ${question.answers}" class="form-group row" th:id="'divDetail' + ${status.index}">
                <input type="hidden" name="detailIDs" th:value="${answer.id}"/>

                <label for="answer" class="col-sm-1 col-form-label">Answer:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="answerContents" maxlength="255" th:value="${answer.content}"/>
                </div>

                <label for="true" class="col-sm-1 col-form-label">True:</label>
                <div class="col-sm-1">
                    <input type="checkbox" class="form-control w-25 checkbox" name="answerCorrects" maxlength="255"
                           th:checked="${answer.isCorrect}" th:value="${answer.isCorrect ? '1' : '0'}"/>
                </div>
            </th:block>



        <div class="form-group row" th:id="'divDetail' + ${#lists.size(question.answers)}">
            <input type="hidden" name="answerIDs" value="0"/>

            <label for="answer" class="col-sm-1 col-form-label">Answer:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="answerContents" maxlength="255" id="answer"/>
            </div>

            <label for="true" class="col-sm-1 col-form-label">True:</label>
            <div class="col-sm-2">
                <input type="checkbox" class="form-control w-25 checkbox" name="answerCorrects" maxlength="255" value='1' id="true">
                <input type="hidden" class="hidden-input" name="answerCorrects" value='0' >
            </div>
        </div>

        <div id="divQuestionAnswers"></div>
        &nbsp;
        <div class="text-center">
            <input type="button" class="btn btn-secondary" value="Add More Answer" onclick="addNextAnswerSection()"/>
        </div>
        &nbsp;
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Create Question"/>
        </div>
    </form>
</div>

<script th:src="@{/js/product_form_details.js}"></script>
</body>
</html>
